{% extends "products/base.html" %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>{% block 'title' %}Unisport Products{% endblock %}</h1>
    <p>{% block 'description' %}Enjoy a selection of our many fine products for every sporting need.{% endblock %}</br></br>
    Use the navigation at the top for particular categories or click a product to get
    detailed information.</p>

    {% if listing|length == 0 %}<p class="bg-danger">Oh no! We cannot find any products of the type you want.</br>You can try going to <a href="/products/">the homepage</a> and make another search.{% endif %}</p>

    <div class="row">
        {% for product in listing %}
        <div class="col-md-2 product-cell {% if forloop.counter0|divisibleby:5 %} col-md-offset-1{% endif %}" data-id="{{ product.id }}">
            <img src="{{ product.img_url }}">
            <div class="product-name">{{ product.name }}</div>

            Kun: {{ product.price }} DKK før {{ product.price_old }}

        </div>
        {% endfor %}
    </div>

    <div class="row">
        <span class="step-links">
            {% if listing.has_previous %}
                <a href="?page={{ listing.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ listing.number }} of {{ listing.paginator.num_pages }}.
            </span>

            {% if listing.has_next %}
                <a href="?page={{ listing.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
